{{ define "header" }}

<header class="header clearfix">
  <nav>
    <ul class="nav nav-pills float-right">

      <li class="nav-item">
        <a class="nav-link" href="/using-registry">Using the Registry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/containers">Containers</a>
      </li>

      <!--
      <li class="nav-item">
        <a class="nav-link" href="/github">GitHub</a>
      </li>
      -->

      

    </ul>
  </nav>
  <a href="/">
    <h4>
      <img class="logo" src="/img/logo.png"/> 
      CentOS Container Registry
    </h4>
  </a>
</header>

{{end}}
