{{define "containers"}}


<html>

<head>
  {{template "head" .}}
  <title>{{ .RegistryDomain }}</title>
</head>

<body>
    <div class="container">

    {{template "header" .}}

    <main role="main">
    <h2 class="text-center">{{ .RegistryDomain }}</h2>

    <form>
        <input name="filter" type="search">

        <!--Maybe add this later..-->
        <!--<a class="clear">clear</a>-->
    </form>

    <div class="row">
        <table>
            <tr>
                <th>Repository Name</th>
                <th>Image Name</th>
            </tr>
            {{ range $key, $value := .Projects }}
            <tr>
                <td valign="top">
                    <a href="/{{ $value.Name }}/">
                    {{ $value.Name }}
                    </a>
                </td>

                <td align="right" nowrap>
                    <a href="/{{ $value.Name }}/">
                    <code>{{ $value.URI }}</code>
                    </a>
                </td>
            </tr>
            {{ end }}
        </table>

    </div>

    {{template "footer" .}}

    </main>

    <script src="/js/scripts.js"></script>

</div>
</body>
</html>
{{end}}
