{{define "tagDetails"}}
<html>

<head>
  {{template "head" .}}
  <title>{{ .RegistryDomain }}/{{ .Image }}</title>
  <link rel="stylesheet" href="/css/github.css">
  <link rel="stylesheet" href="/css/gfm.css">
  <link rel="stylecheet" href="/css/github-markdown.css">
  <script src="/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
     $(document).ready(function(){
       $("ul.nav-tabs a").click(function (e) {
          e.preventDefault();
          $(this).tab('show');
       });
       $('[href="#dockerfile"]').tab('show');
     });
  </script>
</head>

<body>
    <div class="container">

    {{template "header" .}}

    <main role="main">
        <h2 class="text-center">{{ .RegistryDomain }}/{{ .Image }}:{{ .Tag }}</h2>
    <p class="pull-commands">
    docker pull {{ .RegistryDomain }}/{{ .Image }}:{{ .Tag }}
    <br>
    rkt --insecure-options=image fetch docker://{{ .RegistryDomain }}/{{ .Image }}:{{ .Tag }}
    <br>
    skopeo --insecure-policy copy docker://{{ .RegistryDomain }}/{{ .Image }}:{{ .Tag }}
    <br>
    oci:{{ .Image }}:{{ .Tag }}
    </p>

    <pre><code class="text">Latest Build Staus: {{ .BuildStatus }}</code></pre>

      <ul class="nav nav-tabs mb-3" id="master-tab">
        {{ if ne .TargetFile "" }}
        <li class="nav-item">
          <a class="nav-link" id="dockerfile-tab" href="#dockerfile">Dockerfile</a>
        </li>
        {{ end }}
        <li class="nav-item">
          <a class="nav-link active" id="build-logs-tab" href="#build-logs" style="padding-left:0;">Build Logs</a>
        </li>
        {{ if ne .Readme "" }}
        <li class="nav-item">
          <a class="nav-link" id="description-tab" href="#description">Description</a>
        </li>
        {{ end }}
      </ul>
      <div class="tab-content" id="master-tabContent">
        {{ if ne .TargetFile "" }}
          <div class="tab-pane fade active in" id="dockerfile">
            <p>
            Source Repo: <a href={{ .SourceRepo }}>{{ .SourceRepo }}</a>
               <br/>
            </p>
            <pre><code class="dockerfile">{{ .TargetFile }}</code></pre>
          </div>
        {{ end }}
        {{ if ne .Readme "" }}
          <div class="tab-pane fade markdown-body" id="description">
            <pre><code class="markdown">
             {{ .Readme }}
             </code></pre>
          </div>
        {{ end }}
        <div class="tab-pane fade" id="build-logs">
           <div class="tabbable">
               <ul class="nav nav-tabs mb-3" id="bl-tab">
                 <li class="nav-item">
                   <a class="nav-link active" id="bl-build-logs" href="#bl-build-logs-content">Build Logs</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" id="bl-pre-build" href="#bl-pre-build-content">Pre-build Logs</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" id="bl-linter-logs" href="#bl-linter-logs-content">Targetfile Linting Logs</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" id="bl-scan-logs" href="#bl-scan-logs-content">Scan Logs</a>
                 </li>
               <ul>
               <div class="tab-content" id="bl-tabContent">
                    <div class="tab-pane fade active in" id="bl-build-logs-content">
                        <br />
                        <pre><code class="accesslog">{{ .BuildLogs.BuildLog }}</code></pre>
                    </div>
                    <div class="tab-pane fade" id="bl-pre-build-content">
                        <br />
                        <pre><code class="accesslog">{{ .BuildLogs.PreBuildLog }}</code></pre>
                    </div>
                    <div class="tab-pane fade" id="bl-linter-logs-content">
                        <br />
                        <pre><code class="accesslog">{{ .BuildLogs.LintLog }}</code></pre>
                    </div>
                    <div class="tab-pane fade" id="bl-scan-logs-content">
                        <pre><code class="accesslog">{{ .BuildLogs.ScanLogContent }}</code></pre>
                    </div>
                </div>
             </div>
        </div>
    </div>
    {{template "footer" .}}

    </main>
</div>
</body>
</html>
{{end}}
