{{define "tagList"}}
<html>
<head>
  {{template "head" .}}
  <title>{{ .RegistryDomain }}/{{ .Name }}</title>
  <link rel="stylesheet" href="/css/github.css">
  <link rel="stylesheet" href="/css/gfm.css">
  <script src="/js/highlight.pack.js"></script>
</head>

<body>
    <div class="container">

    {{template "header" .}}

    <main role="main">
    <h2 class="text-center">{{ .RegistryDomain }}/{{ .Name }}</h2>
    <!-- <p class="pull-commands">
    docker pull {{ .RegistryDomain }}/{{ .Name }}:{{ .Latest }}
    <br>
    rkt insecure-options=image fetch docker://{{ .RegistryDomain }}/{{ .Name }}:{{ .Latest }}
    <br>
    skopeo insecure-policy copy docker://{{ .RegistryDomain }}/{{ .Name }}:{{ .Latest }} oci:{{ .Name }}:{{ .Latest }}
    </p> -->

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="tags-tab" data-toggle="pill" href="#tags" role="tab" aria-controls="tags" aria-selected="true" style="padding-left:0;">Tags</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="dockerfile-tab" data-toggle="pill" href="#source-repo" role="tab" aria-controls="source-repo" aria-selected="false">Source Repo</a>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="tags" role="tabpanel" aria-labelledby="tags-tab">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Tag</th>
                    <th>Latest Build</th>
                    <th>Created</th>
                </tr>
                {{ range $key, $value := .Repositories }}
                <tr>
                    <td valign="left" nowrap>
                        <a href="/{{ $value.Name }}/{{ $value.Tag }}/">
                        {{ $value.Name }}
                        </a>
                    </td>
                    <td align="right" nowrap>
                        <a href="/{{ $value.Name }}/{{ $value.Tag }}/">
                        {{ $value.Tag }}
                        </a>
                    </td>
                    <td align="center" nowrap>
                        {{ $value.BuildStatus}}
                    </td>
                    <td align="right" nowrap>
                        {{ $value.Created.Format "02 Jan, 2006 15:04:05 UTC" }}
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>

          <div class="tab-pane fade" id="source-repo" role="tabpanel" aria-labelledby="source-repo-tab">
             {{ .SourceRepo}}
          </div>
    </div>

    </div>
    {{template "footer" .}}

    </main>

    <script src="/js/scripts.js"></script>

</div>
</body>
</html>
{{end}}
