{{define "tagDetails"}}
<html>

<head>
  {{template "head" .}}
  <title>{{ .RegistryDomain }}/{{ .Name }}</title>
  <link rel="stylesheet" href="/css/github.css">
  <link rel="stylesheet" href="/css/gfm.css">
  <script src="/js/highlight.pack.js"></script>
</head>

<body>
    <div class="container">

    {{template "header" .}}

    <main role="main">
    <h2 class="text-center">{{ .RegistryDomain }}/{{ .Name }}</h2>
    <p class="pull-commands">
    docker pull {{ .RegistryDomain }}/{{ .Name }}:{{ .Latest }}
    <br>
    rkt --insecure-options=image fetch docker://{{ .RegistryDomain }}/{{ .Name }}:{{ .Latest }}
    <br>
    skopeo --insecure-policy copy docker://{{ .RegistryDomain }}/{{ .Name }}:{{ .Latest }} oci:{{ .Name }}:{{ .Latest }}
    </p>

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="build-logs-tab" data-toggle="pill" href="#build-logs" role="tab" aria-controls="build-logs" aria-selected="true" style="padding-left:0;">Build Logs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="weekly-scan-logs-tab" data-toggle="pill" href="#weekly-scan-logs" role="tab" aria-controls="weekly-scan-logs" aria-selected="true" style="padding-left:0;">Build Logs</a>
        </li>

        {{ if ne .Dockerfile "" }}
        <li class="nav-item">
          <a class="nav-link" id="dockerfile-tab" data-toggle="pill" href="#dockerfile" role="tab" aria-controls="dockerfile" aria-selected="false">Dockerfile</a>
        </li>
        {{ end }}
        {{ if ne .Readme "" }}
        <li class="nav-item">
          <a class="nav-link" id="description-tab" data-toggle="pill" href="#description" role="tab" aria-controls="description" aria-selected="false">Description</a>
        </li>
        {{ end }}
      </ul>

      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="build-logs" role="tabpanel" aria-labelledby="build-logs-tab">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Tag</th>
                    <th>Created</th>
                </tr>
                {{ range $key, $value := .Repositories }}
                <tr>
                    <td valign="left" nowrap>
                        {{ $value.Name }}
                    </td>
                    <td align="right" nowrap>
                        {{ $value.Tag }}
                    </td>
                    <td align="right" nowrap>
                        {{ $value.Created.Format "02 Jan, 2006 15:04:05 UTC" }}
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>

        {{ if ne .Dockerfile "" }}
          <div class="tab-pane fade" id="dockerfile" role="tabpanel" aria-labelledby="dockerfile-tab">
            <pre class="highlight-code"><code class="dockerfile">{{ .Dockerfile }}</code></pre>
          </div>
        {{ end }}

        {{ if ne .Readme "" }}
            <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
          <div class="markdown-body">
          {{ .Readme }}
          </div>
        {{ end }}


    </div>




    </div>
    {{template "footer" .}}

    </main>

    <script src="/js/scripts.js"></script>

</div>
</body>
</html>
{{end}}
