{{define "tags"}}
<html>
  
<head>
  {{template "head" .}}
  <title>{{ .RegistryDomain }}/{{ .Name }}</title>
  <link rel="stylesheet" href="/css/github.css">
  <link rel="stylesheet" href="/css/gfm.css">
  <script src="/js/highlight.pack.js"></script>
</head>

<body>
    <div class="container">

    {{template "header" .}}

    <main role="main">
    <h2 class="text-center">{{ .RegistryDomain }}/{{ .Name }}</h2>

    <div class="row">
      <h4 class="repo-header">Tags</h4>
        <table>
            <tr>
                <th>Name</th>
                <th>Tag</th>
                <th>Created</th>
            </tr>
            {{ range $key, $value := .Repositories }}
            <tr>
                <td valign="left" nowrap>
                    {{ $value.Name }}
                </td>
                <td align="right" nowrap>
                    {{ $value.Tag }}
                </td>
                <td align="right" nowrap>
                    {{ $value.Created.Format "02 Jan, 2006 15:04:05 UTC" }}
                </td>
            </tr>
            {{ end }}
        </table>
    </div>

    {{ if ne .Dockerfile "" }}
    <div class="row">
      <h4 class="repo-header">Dockerfile</h4>
<br>
      <pre class="highlight-code"><code class="dockerfile">{{ .Dockerfile }}</code></pre>

    </div>
    {{ end }}

    {{ if ne .Readme "" }}
    <div class="row">
      <h4 class="repo-header">Description</h4>
      <div class="markdown-body">
      {{ .Readme }}
      </div>

    </div>
    {{ end }}

    </div>
    {{template "footer" .}}

    </main>

    <script src="/js/scripts.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</div>
</body>
</html>
{{end}}
